html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    top: 0;
    position: fixed;
    z-index: 1;
    height: 60px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    float: left;
}

a {
    padding: 20px;
    width: 100px;
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

div {
    height: 100vh;
    width: 100%;
    /* Scroll Snap */
    scroll-snap-align: center;
}

h1 {
    color: white;
    justify-content: center;
    text-align: center;
    padding-top: 25%;
}

p {
    color: white;
    padding-top: 25%;
    text-align: center;
    font-size: 22px;
    line-height: 1.9vh;
    justify-content: center;
}

#home {
    background: url('../images/HK_Disney.jpeg') no-repeat center center/cover;
    display: inline-block;
    width: 100%;
}

#about {
    background: url('../images/Hong_Kong-Harbor.jpeg') no-repeat center center/cover;
    display: inline-block;
    width: 100%;
}

#contact {
    background: url('../images/Business_Class.jpeg') no-repeat center center/cover;
    ;
    display: inline-block;
    width: 100%;
}